body {
  margin: 0;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.alignCenter {
  text-align: center;
  min-width: 80px;
}

.maxWidth {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &--w140px {
    max-width: 140px;
  }

  &--w260px {
    max-width: 260px;
  }
}

